<div>
  <form #editForm="ngForm">
    <label>ID:</label>
    <input type="hidden" class="form-control" name="cajanumero" #cajanumero value="{{departamento.numero}}"/>
    <label>NOMBRE:</label>
    <input type="text" class="form-control" name="cajanombre" #cajanombre value="{{departamento.nombre}}"/>
    <label>LOCALIDAD:</label>
    <input type="text" class="form-control" name="cajalocalidad" #cajalocalidad value="{{departamento.localidad}}"/><br>
    <button class="btn btn-success" (click)="updateDepartamento()">
      Modificar Departamento
    </button>
  </form>
</div>

